* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: auto;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: #022f46;
}

/* NAVBAR */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 25px;
  /* margin: 0 105px; */
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  /* border-bottom: 0.5px solid white; */
  font-family: "Giuconda-Thin";
  transition: all 0.3s ease;
}

nav img {
  width: 25vw;
}

.nav-bar {
  display: none;
}

nav {
  font-size: 26px;
}

nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: white !important;
}

.offcanvas {
  background-color: #022f46 !important;
}

.offcanvas-list {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 22px;
}

.indent {
  margin-left: 30px;
}

.offcanvas-light {
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 640px) {
  nav img {
    width: 18vw;
  }

  .offcanvas {
    width: 60% !important;
  }
}

@media only screen and (min-width: 768px) {
  nav img {
    width: 16vw;
  }

  nav button,
  .offcanvas {
    display: none !important;
  }

  .nav-bar {
    display: flex;
    gap: 30px;
    font-size: 20px;
  }

  .nav-bar a {
    position: relative;
    text-decoration: none;
    transition: 0.125s all ease-in-out;
  }

  .nav-bar a:hover {
    color: #ff84b2;
    transition: 0.125s all ease-in-out;
  }
}

@media only screen and (min-width: 1024px) {
  nav img {
    width: 12vw;
  }
}

@media only screen and (min-width: 1280px) {
  nav img {
    width: 10vw;
  }
}

/* END OF NAVBAR */

/* REGISTER */

.aura {
  pointer-events: none;
}

.aura-1 {
  width: 100%;
  top: -35vw;
  left: -35vw;
  -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
  mask-image: linear-gradient(to right, black 80%, transparent 100%);
}

.aura-2 {
  width: 100%;
  bottom: 0;
  opacity: 0.5;
  -webkit-mask-image: linear-gradient(to top, black 80%, transparent 100%);
  mask-image: linear-gradient(to top, black 80%, transparent 100%);
}

.light-1 {
  width: 50vw;
  height: 50vw;
  top: -10vw;
  right: -20vw;
}

.light-2 {
  width: 50vw;
  height: 50vw;
  left: -20vw;
  top: 70vw;
}

#register {
  position: relative;
  overflow-x: hidden;
  font-family: "Giuconda-Regular";
}

h2 {
  color: white;
  font-size: 54px !important;
  font-family: "ProgressExtended-Bold";
}

.form-wrapper,
button {
  color: rgba(255, 255, 255, 1);
  border: 1px solid white;
}

.form-wrapper {
  width: 775px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

select,
input[type="text"],
input[type="email"],
input[type="password"] {
  background: linear-gradient(
    152.97deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 6.56%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.08),
    inset 0px 4px 42px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  border: 1px solid white;
  color: rgba(255, 255, 255, 1);
  transition: all 0.5s ease;
}

label,
.list-anggota p,
h3 {
  font-size: 24px !important;
  color: rgba(255, 255, 255, 1);
}

option {
  color: black;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
input:not([type="checkbox"]):focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: inset 0 0 0 2px rgb(1, 134, 186, 0.5);
  transition: all 0.5s ease;
}

::-webkit-input-placeholder {
  /* Edge */
  font-size: 22px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 22px;
}

::placeholder,
option,
input[type="text"] {
  font-size: 22px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.total,
.payment,
.cp {
  font-size: 20px;
}

.payment li {
  list-style-type: disc;
  margin-left: 2rem;
}

em {
  color: #e4ff98;
  font-style: normal;
}

button {
  font-size: 26px !important;
}

@media only screen and (max-width: 1025px) {
  .aura-1 {
    top: -25vw;
  }

  .light-2 {
    top: 90vw;
  }

  .form-wrapper {
    width: 675px;
  }
}

@media only screen and (max-width: 768px) {
  .light-2 {
    top: 120vw;
  }

  .form-wrapper {
    width: 575px;
  }

  select,
  input {
    height: 55px !important;
    border-radius: 12px !important;
  }

  label,
  .list-anggota p,
  h3 {
    font-size: 22px !important;
    color: rgba(255, 255, 255, 1);
  }

  ::-webkit-input-placeholder {
    /* Edge */
    font-size: 20px;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 20px;
  }

  ::placeholder,
  option,
  input[type="text"] {
    font-size: 20px;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }

  .total,
  .payment,
  .cp {
    font-size: 18px;
  }

  button {
    font-size: 22px !important;
  }
}

@media only screen and (max-width: 641px) {
  .aura-1 {
    top: -20vw;
  }

  .form-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 481px) {
  .aura-1 {
    width: 200vw;
    left: -10vw;
    top: -10vw;
  }

  .light-2 {
    top: 170vw;
  }

  h2 {
    font-size: 36px !important;
  }

  .form-wrapper {
    width: 100%;
    padding: 1rem 1.5rem !important;
  }

  label,
  .list-anggota p,
  h3 {
    font-size: 20px !important;
    color: rgba(255, 255, 255, 1);
  }

  ::-webkit-input-placeholder {
    /* Edge */
    font-size: 18px;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 18px;
  }

  ::placeholder,
  option,
  input[type="text"] {
    font-size: 18px;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }

  .total,
  .payment,
  .cp {
    font-size: 16px;
  }

  button {
    font-size: 20px !important;
  }
}

/* END OF REGISTER */

/* FOOTER */
/* END OF FOOTER */
