* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    overflow: auto;
    scroll-behavior: smooth;
  }
  
  body {
    position: relative;
    overflow-x: hidden;
    background-color: #022f46;
  }
  
  /* NAVBAR */
  nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 25px;
    /* margin: 0 105px; */
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* border-bottom: 0.5px solid white; */
    font-family: "Giuconda-Thin";
    transition: all 0.3s ease;
  }
  
  nav img {
    width: 25vw;
  }
  
  .nav-bar {
    display: none;
  }
  
  nav {
    font-size: 26px;
  }
  
  nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: white !important;
  }
  
  .offcanvas {
    background-color: #022f46 !important;
  }
  
  .offcanvas-list {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 22px;
  }
  
  .indent {
    margin-left: 30px;
  }
  
  .offcanvas-light {
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @media only screen and (min-width: 640px) {
    nav img {
      width: 18vw;
    }
  
    .offcanvas {
      width: 60% !important;
    }
  }
  
  @media only screen and (min-width: 768px) {
    nav img {
      width: 16vw;
    }
  
    nav button,
    .offcanvas {
      display: none !important;
    }
  
    .nav-bar {
      display: flex;
      gap: 30px;
      font-size: 20px;
    }
  
    .nav-bar a {
      position: relative;
      text-decoration: none;
      transition: 0.125s all ease-in-out;
    }
  
    .nav-bar a:hover {
      color: #ff84b2;
      transition: 0.125s all ease-in-out;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    nav img {
      width: 12vw;
    }
  }
  
  @media only screen and (min-width: 1280px) {
    nav img {
      width: 10vw;
    }
  }
  
  /* END OF NAVBAR */

/* FOOTER */
footer {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(
    252.97deg,
    #097b6a -30.53%,
    #022f46 48.62%,
    #097b6a 126.78%
  );
  font-family: "Giuconda-Regular";
}

footer img {
  width: 60%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.content-top {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 25px;
}

.content-bottom {
  color: white;
  font-size: 14px;
}

.footer-nav {
  color: white;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 4.5vw;
  row-gap: 20px;
}

.footer-nav a:hover {
  color: #ff84b2;
}

.footer-nav a::before {
  background-color: #ff84b2;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact {
  display: flex;
  gap: 25px;
}

.contact-platform {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.8vw;
  height: 6.8vw;
  border-radius: 50%;
  border-bottom: 2px solid #306a73;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.7));
  backdrop-filter: blur(21px);
}

.contact-platform img {
  width: 60%;
}

.support {
  display: flex;
  gap: 15px;
}

.support img {
  height: 14vw;
  width: auto;
}

@media only screen and (min-width: 480px) {
  .contact-platform {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (min-width: 768px) {
  footer {
    height: 400px;
    grid-template-columns: 1.5fr 1fr;
  }

  footer img {
    width: 70%;
  }

  .content-top {
    flex-direction: row;
  }

  .content-bottom {
    font-size: 18px;
  }

  .footer-nav {
    font-size: 18px;
  }

  .contact,
  .support {
    align-self: flex-end;
  }

  .contact {
    gap: 50px;
  }

  .support img {
    height: 10vw;
  }
}

@media only screen and (min-width: 1024px) {
  footer img {
    width: 60%;
  }
}

@media only screen and (min-width: 1280px) {
  footer img {
    width: 250px;
  }

  .footer-nav,
  .content-bottom {
    font-size: 22px;
  }

  .contact-platform {
    width: 45px;
    height: 45px;
  }

  .support img {
    height: 8vw;
  }
}

/* END OF FOOTER */