* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: auto;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: #022f46;
}

/* NAVBAR */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 25px;
  /* margin: 0 105px; */
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  /* border-bottom: 0.5px solid white; */
  font-family: "Giuconda-Thin";
  transition: all 0.3s ease;
}

nav img {
  width: 25vw;
}

.nav-bar {
  display: none;
}

nav {
  font-size: 26px;
}

nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: white !important;
}

.offcanvas {
  background-color: #022f46 !important;
}

.offcanvas-list {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 22px;
}

.indent {
  margin-left: 30px;
}

.offcanvas-light {
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 640px) {
  nav img {
    width: 18vw;
  }

  .offcanvas {
    width: 60% !important;
  }
}

@media only screen and (min-width: 768px) {
  nav img {
    width: 16vw;
  }

  nav button,
  .offcanvas {
    display: none !important;
  }

  .nav-bar {
    display: flex;
    gap: 30px;
    font-size: 20px;
  }

  .nav-bar a {
    position: relative;
    text-decoration: none;
    transition: 0.125s all ease-in-out;
  }

  .nav-bar a:hover {
    color: #ff84b2;
    transition: 0.125s all ease-in-out;
  }
}

@media only screen and (min-width: 1024px) {
  nav img {
    width: 12vw;
  }
}

@media only screen and (min-width: 1280px) {
  nav img {
    width: 10vw;
  }
}

/* END OF NAVBAR */

/* HERO */

.light-1 {
  left: -275px;
  width: 400px;
  height: 400px;
}

.light-2 {
  bottom: -450px;
  right: -200px;
  width: 400px;
  height: 400px;
}

.square,
#hero a {
  border-radius: 5px;
  border-bottom: 2.4px solid #305467;
}

#hero {
  width: 100%;
  position: relative;
  color: white;
}

#hero a {
  width: calc(275px / 1.5);
  height: calc(72px / 1.5);
  transition: all 0.125s ease-in-out;
}

#hero a i {
  display: none;
}

.aura,
.rectangle-img,
.hero-img {
  pointer-events: none;
}

.aura {
  filter: saturate(4);
  z-index: -3 !important;
  top: -5vw;
  left: -30vw;
}

.rectangle-1 {
  width: calc(45vw * 1.5);
  height: calc(50vw * 1.5);
  border-radius: calc(7vw * 1.5);
  top: -4vw;
  right: -25vw;
  transform: rotate(-37deg);
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

#hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 150px;
  letter-spacing: 1px;
  font-family: "ProgressExtended-Bold";
}

.hero-img {
  align-self: center;
  width: 80vw;
  z-index: -1;
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  transition: all 0.5s ease-in-out;
}

.hero-desc {
  letter-spacing: 1px;
  font-family: "Giuconda-Regular";
}

.countdown {
  font-family: "ProgressExtended-Bold";
}

.square {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  /* border-bottom: 1.8px solid #305467; */
}

@media only screen and (min-width: 480px) {
  .hero-img {
    width: 50vw;
  }

  #hero h1 {
    width: 70%;
    align-self: center;
  }
}

@media only screen and (min-width: 768px) {
  .aura {
    top: -25vw;
    left: -30vw;
    -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
    mask-image: linear-gradient(to right, black 80%, transparent 100%);
  }

  .light-2 {
    bottom: -550px;
    right: -200px;
    width: 60vw;
    height: 60vw;
  }

  .rectangle-1 {
    width: calc(45vw * 1.2);
    height: calc(50vw * 1.2);
    border-radius: calc(7vw * 1.2);
    top: -4vw;
    right: -20vw;
  }

  #hero-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 250px;
  }

  #hero h1 {
    width: 100%;
    align-self: flex-start;
  }

  .hero-img {
    position: absolute;
    width: 45vw;
    top: 10vw;
    right: 2.5vw;
    align-self: center;
    -webkit-mask-image: none;
    mask-image: none;
  }

  .square {
    width: 55px;
    height: 55px;
    font-size: 25px;
  }
}

@media only screen and (min-width: 1024px) {
  .aura {
    width: 100vw;
    top: -27.5vw;
  }

  .rectangle-1 {
    width: calc(45vw * 1);
    height: calc(50vw * 1);
    border-radius: calc(7vw * 1);
    top: -4vw;
    right: -15vw;
  }

  .light-2 {
    bottom: -60vw;
    right: -200px;
    width: 50vw;
    height: 50vw;
  }

  .hero-img {
    width: 45vw;
    top: 5vw;
    right: 7vw;
  }

  #hero a {
    width: calc(275px / 1.2);
    height: calc(72px / 1.2);
    transition: all 0.125s ease-in-out;
  }

  #hero a i {
    display: block;
    opacity: 0;
    transition: all 0.125s ease-in-out;
  }

  #hero a p {
    transform: translateX(5px);
    transition: all 0.125s ease-in-out;
  }

  #hero a:hover {
    background-position: 100%, 0;
  }

  #hero a:hover p {
    transform: translateX(-5px);
    transition: all 0.125s ease-in-out;
  }

  #hero a:hover i {
    opacity: 1;
    transition: all 0.125s ease-in-out;
    transform: translateX(4px);
  }
}

@media only screen and (min-width: 1280px) {
  .aura {
    top: -30vw;
    left: -35vw;
  }

  .rectangle-1 {
    top: -8vw;
  }

  .light-2 {
    bottom: -50vw;
    right: -200px;
    width: 50vw;
    height: 50vw;
  }

  .hero-img {
    width: 40vw;
    top: 0;
  }

  .square {
    width: 70px;
    height: 70px;
    font-size: 30px;
  }
}

/* END OF HERO */

/* ABOUT */
#home-about {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  font-family: "Giuconda-Regular";
  /* outline: 1px solid red; */
  padding: 10vw 0;
}

.home-about-img {
  z-index: -1;
  position: absolute;
  top: -22.5vw;
  width: 100vw;
  height: 100vw;
  background: url("assets/wavythings.svg");
  background-size: cover;
  background-position: 30% 0%;
}

.home-about-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.home-about-info p {
  color: #097b6a;
  font-size: 5.75vw;
  font-family: "ProgressExtended-Bold";
}

.home-explore-button {
  font-size: 4.5vw;
  padding: 5px 25px;
  color: #097b6a;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 5px 25px 2px #097b6a;
  transition: all 0.3s ease 0s;
  font-family: "Giuconda-Regular";
}

.home-explore-button:hover {
  background-color: #097b6a;
  color: white;
  box-shadow: 0px 5px 25px 2px #097b6a;
  /*transform: translateY(-10px);*/
  transform: scale(1.05);
  transition: all 0.3s ease;
}

@media only screen and (min-width: 640px) {
  .home-about-img {
    top: -14.25vw;
    height: 70vw;
  }

  .home-about-info p {
    font-size: 4.5vw;
  }

  .home-explore-button {
    font-size: 3.25vw;
  }
}

@media only screen and (min-width: 768px) {
  #home-about {
    padding: 12vw 0;
  }

  .home-about-img {
    top: -10vw;
    height: 60vw;
  }

  .home-about-info p {
    font-size: 3.75vw;
  }

  .home-explore-button {
    font-size: 2.5vw;
  }
}

@media only screen and (min-width: 1024px) {
  .home-about-img {
    top: -7vw;
    height: 50vw;
  }

  .home-about-info p {
    font-size: 3vw;
  }

  .home-explore-button {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 1280px) {
  .home-about-img {
    top: -9.5vw;
    height: 50vw;
  }

  .home-about-info p {
    font-size: 3vw;
  }

  .home-explore-button {
    font-size: 2vw;
  }
}
/* END OF ABOUT */

/* OVERVIEW */
#overview {
  font-family: "Giuconda-Regular";
}

.light-3 {
  left: -150px;
  bottom: 0;
  width: 400px;
  height: 400px;
}

.overview-desc {
  color: white;
}

.overview-desc h2 {
  color: #6e62f6;
  background-color: white;
  padding: 5px 0;
  width: 135px;
  border-radius: 30px;
  font-family: "Giuconda-Semi-Bold";
}

.overview-desc a {
  color: #e4ff98;
}

.overview-img {
  width: 80vw;
}

.over-rect-r,
.over-rect-l {
  width: 100%;
  height: 100%;
  border-radius: 7vw;
  left: 0px;
}

.over-rect-r {
  transform: rotate(-45deg);
}

.over-rect-l {
  transform: rotate(45deg);
}

@media only screen and (min-width: 480px) {
  .overview-img {
    width: 50vw;
  }

  .overview-desc {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  .overview-img {
    width: 30vw;
  }

  .over-rect-r,
  .over-rect-l {
    width: 50vw;
    height: 50vw;
    right: 0px;
  }

  .over-rect-l {
    left: -14vw;
    transform: rotate(45deg);
  }

  .overview-desc {
    width: 50%;
  }

  .overview-desc a:hover {
    color: #e4ff98;
  }

  .overview-desc a::before {
    background-color: #e4ff98;
  }

  .overview-desc a i {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
  }

  .overview-desc a:hover i {
    transform: translateX(8px);
    transition: transform 0.3s ease-in-out;
  }
}

@media only screen and (min-width: 1280px) {
  .over-rect-l {
    left: -17vw;
    transform: rotate(45deg);
  }
}

/* END OF OVERVIEW */

/* OUR LOCATION */

.home-honeycomb {
  position: absolute;
  transition: all 0.3s ease;
  z-index: -4;
}

.home-honeycomb-1 {
  top: 5vw;
  left: 0vw;
  width: 35vw !important;
}

.home-honeycomb-2 {
  right: 0vw;
  width: 35vw !important;
}

.home-ball {
  z-index: -2;
  position: absolute;
  transition: all 0.3s ease;
}

.home-ball-1 {
  top: 5vw;
  left: 15vw;
  width: 20vw !important;
  -webkit-filter: blur(10px) !important;
  filter: blur(10px) !important;
}

.home-ball-2 {
  bottom: -10vw;
  right: 5vw;
  width: 22vw !important;
}

#home-location {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: white;
  text-align: center;
  font-family: "Giuconda-Regular";
}

#home-location img {
  width: 46vw;
  height: auto;
  border-radius: 30px;
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.7));
}

.home-location-info-wrapper {
  z-index: -1;
  position: absolute;
  top: 275px;
  left: 300px;
  transition: all 0.3s ease;
}

.home-location-info {
  position: relative;
  width: 46vw;
  height: 30vw;
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}

.home-location-bottom {
  text-align: left;
  position: absolute;
  bottom: 20px;
  left: 40px;
}

.home-location-title {
  font-size: 46px;
  font-family: "Giuconda-Regular";
}
.home-location-desc {
  font-size: 24px;
  font-family: "Giuconda-Regular";
}

/* @media only screen and (min-width: 1282px) {
  #location a:hover~.location-info-wrapper {
    transform: translate(-100px, 200px);
    transition: all 0.3s ease;
  }
  
  .location-info-wrapper {
    z-index: -1;
    position: absolute;
    transform: translate(0, 70px);
    transition: all 0.3s ease;
  }
} */

@media only screen and (max-width: 1281px) {
  /* #location img {
    width: calc(46vw * 1.2);
    pointer-events: none;
  }

  .location-info {
    width: calc(46vw * 1.2);
    height: calc(30vw * 1.2);
    pointer-events: none;
  } */

  .home-location-info-wrapper {
    top: 270px;
    left: 20vw;
  }

  .home-location-title {
    font-size: 40px;
  }
  .home-location-desc {
    font-size: 24px;
  }

  .home-ball {
    filter: blur(10px) !important;
    object-fit: contain !important;
    overflow: visible;
  }
}

@media only screen and (max-width: 1025px) {
  #home-location img {
    width: calc(46vw * 1.2);
    height: calc(30vw * 1.4);
    object-fit: cover;
  }

  .home-location-info {
    width: calc(46vw * 1.2);
    height: calc(30vw * 1.4);
  }

  .home-location-info-wrapper {
    top: 220px;
    left: 15vw;
  }

  .home-location-title {
    font-size: 40px;
  }
  .home-location-desc {
    font-size: 24px;
  }

  .home-ball {
    filter: blur(10px) !important;
    object-fit: contain !important;
    overflow: visible;
  }

  .home-ball-1 {
    left: 5vw;
  }

  .home-honeycomb-1 {
    top: 25vw;
    left: -5vw;
    width: 30vw !important;
  }
}

@media only screen and (max-width: 769px) {
  #home-location img {
    width: calc(46vw * 1.3);
  }

  .home-location-info {
    width: calc(46vw * 1.3);
    height: 50vw;
  }

  .home-location-info-wrapper {
    top: 200px;
    left: 20.1vw;
  }
}

@media only screen and (max-width: 641px) {
  .home-ball-1 {
    top: 5vw;
    left: 10vw;
    width: 30vw !important;
  }

  .home-ball-2 {
    bottom: -10vw;
    right: 5vw;
    width: 22vw !important;
  }

  #home-location img {
    width: calc(46vw * 1.2);
    height: 300px;
    object-fit: cover;
  }

  .home-location-info {
    width: calc(46vw * 1.2);
    height: 400px;
  }

  .home-location-info-wrapper {
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
  }

  .home-location-title {
    font-size: 36px;
  }
  .home-location-desc {
    font-size: 20px;
  }
  /*question mark*/
  .home-honeycomb-1 {
    top: 30vw;
    left: 0vw;
    width: 25vw !important;
  }

  .home-honeycomb-2 {
    right: 0vw;
    width: 30vw !important;
  }
}

@media only screen and (max-width: 481px) {
  #home-location img {
    width: calc(46vw * 1.8);
  }

  .home-location-info {
    width: calc(46vw * 1.8);
    height: 400px;
  }

  .home-location-info-wrapper {
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
  }

  .home-location-title {
    font-size: 32px;
  }
  .home-location-desc {
    font-size: 16px;
  }

  .home-ball-1 {
    top: -2vw;
    left: -2vw;
  }

  .home-ball-2 {
    bottom: -12vw;
    right: 0vw;
  }
}
/* END OF OUR LOCATION */

/* SCHEDULE */



.pencetan:hover {
  border-color: rgba(255, 255, 255, 0.5);
  background: linear-gradient(
    152.97deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 6.56%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.7));
  transition: all ease-in-out 0.25s;
}

.pencetan {
  transition: all ease-in-out 0.25s;
}

@media only screen and (min-width: 1024px) {
  .hide-responsive {
    display: block !important;
  }
}

/* END OF SCHEDULE */

/* OUR SPONSORS */
/* .img-small {
  max-width: 60%;
}

.img-medium {
  max-width: 80%;
}

.img-large {
  max-width: 90%;
} */

.container-coloring {
  background: linear-gradient(
    152.97deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 6.56%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.08));
  backdrop-filter: blur(21px);

  border-radius: 16px;
  border: 1px solid white;
}

.img-sponsor img {
  width: 20vw;
}

@media only screen and (max-width: 1020px) {
  .logo-margin {
    margin-bottom: 3vw;
  }
}

/* END OF OUR SPONSORS */

/* FAQ */
.faq-title h2 {
  text-align: center;
  max-width: 85%;
}

.accordion {
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  border: 1.5px solid rgba(255, 255, 255, 0.5);
}

.chevron-active {
  transform: rotate(180deg);
  transition: all 0.4s ease-in-out;
}

.panel {
  color: white;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}
/* END OF FAQ */

/* FOOTER */
footer {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(
    252.97deg,
    #097b6a -30.53%,
    #022f46 48.62%,
    #097b6a 126.78%
  );
  font-family: "Giuconda-Regular";
}

footer img {
  width: 60%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.content-top {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 25px;
}

.content-bottom {
  color: white;
  font-size: 14px;
}

.footer-nav {
  color: white;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 4.5vw;
  row-gap: 20px;
}

.footer-nav a:hover {
  color: #ff84b2;
}

.footer-nav a::before {
  background-color: #ff84b2;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact {
  display: flex;
  gap: 25px;
}

.contact-platform {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.8vw;
  height: 6.8vw;
  border-radius: 50%;
  border-bottom: 2px solid #306a73;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.7));
  backdrop-filter: blur(21px);
}

.contact-platform img {
  width: 60%;
}

.support {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.support img {
  height: 75px;
  width: auto;
}

@media only screen and (min-width: 480px) {
  .contact-platform {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (min-width: 768px) {
  footer {
    height: 400px;
    grid-template-columns: 1.5fr 1fr;
  }

  footer img {
    width: 70%;
  }

  .content-top {
    flex-direction: row;
  }

  .content-bottom {
    font-size: 18px;
  }

  .footer-nav {
    font-size: 18px;
  }

  .contact,
  .support {
    align-self: flex-end;
  }

  .contact {
    gap: 50px;
  }

  .support {
    flex-direction: row;
  }
  

  .support img {
    height: 10vw;
  }
}

@media only screen and (min-width: 1024px) {
  footer img {
    width: 60%;
  }
}

@media only screen and (min-width: 1280px) {
  footer img {
    width: 250px;
  }

  .footer-nav,
  .content-bottom {
    font-size: 22px;
  }

  .contact-platform {
    width: 45px;
    height: 45px;
  }

  .support img {
    height: 8vw;
  }
}

/* END OF FOOTER */
