* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  background-color: #022f46;
}

.lines {
  z-index: -2;
}

.lines-1 {
  top: 10vw;
  right: 0;
  width: 100vw;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* NAVBAR */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 25px;
  /* margin: 0 105px; */
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  /* border-bottom: 0.5px solid white; */
  font-family: "Giuconda-Thin";
  transition: all 0.3s ease;
}

nav img {
  width: 25vw;
}

.nav-bar {
  display: none;
}

nav {
  font-size: 26px;
}

nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: white !important;
}

.offcanvas {
  background-color: #022f46 !important;
}

.offcanvas-list {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 22px;
}

.indent {
  margin-left: 30px;
}

.offcanvas-light {
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 640px) {
  nav img {
    width: 18vw;
  }

  .offcanvas {
    width: 60% !important;
  }
}

@media only screen and (min-width: 768px) {
  nav img {
    width: 16vw;
  }

  nav button,
  .offcanvas {
    display: none !important;
  }

  .nav-bar {
    display: flex;
    gap: 30px;
    font-size: 20px;
  }

  .nav-bar a {
    position: relative;
    text-decoration: none;
    transition: 0.125s all ease-in-out;
  }

  .nav-bar a:hover {
    color: #ff84b2;
    transition: 0.125s all ease-in-out;
  }
}

@media only screen and (min-width: 1024px) {
  nav img {
    width: 12vw;
  }
}

@media only screen and (min-width: 1280px) {
  nav img {
    width: 10vw;
  }
}

/* END OF NAVBAR */

/* HERO */

.rectangle-1 {
  /* width: calc(45vw * 1.5);
  height: calc(50vw * 1.5);
  border-radius: calc(7vw * 1.5); */
  width: 100%;
  height: 100vw;
  top: -50vw;
  left: 0;
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.light-1 {
  top: 200px;
  right: 125px;
  width: 200px;
  height: 200px;
}

#hero {
  width: 100%;
  position: relative;
  color: white;
}

.hero-img {
  pointer-events: none;
}

#hero-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-img {
  align-self: center;
  width: 80vw;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

#hero-title {
  letter-spacing: 1px;
  font-family: "ProgressExtended-Bold";
}

.hero-desc {
  font-family: "Inter", sans-serif;
}

#hero a {
  width: calc(275px / 1.5);
  height: calc(60px / 1.2);
  border-radius: 5px;
  border-bottom: 2.4px solid #305467;
  transition: all 0.125s ease-in-out;
}

@media only screen and (min-width: 480px) {
  .hero-img {
    width: 50vw;
  }

  .hero-desc {
    width: 70%;
    align-self: center;
  }
}

@media only screen and (min-width: 768px) {
  .rectangle-1 {
    width: calc(45vw * 1.2);
    height: calc(50vw * 1.2);
    border-radius: calc(7vw * 1.2);
    top: -5vw;
    left: -2vw;
    transform: rotate(142deg);
  }

  .light-1 {
    right: 0px;
    width: 45vw;
    height: 45vw;
    border-radius: 50%;
  }

  .lines-1 {
    top: 5vw;
    right: 0;
    width: 60vw;
  }

  .hero-img {
    width: 35vw;
  }

  #hero-title {
    display: flex;
    flex-direction: column;
  }

  .hero-desc {
    width: 100%;
    align-self: flex-start;
  }

  #hero a {
    width: calc(275px / 1.7);
    height: calc(60px / 1.4);
    transition: all 0.125s ease-in-out;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-desc {
    max-width: 75%;
  }

  #hero a {
    width: calc(275px / 1.5);
    height: calc(60px / 1.2);
    transition: all 0.125s ease-in-out;
  }

  #hero a:nth-child(1) i {
    display: block;
    opacity: 0;
    transition: all 0.125s ease-in-out;
  }

  #hero a:nth-child(1) p {
    transform: translateX(12px);
    transition: all 0.125s ease-in-out;
  }

  #hero a:nth-child(1):hover {
    background-position: 100%, 0;
  }

  #hero a:nth-child(1):hover p {
    transform: translateX(-5px);
    transition: all 0.125s ease-in-out;
  }

  #hero a:nth-child(1):hover i {
    opacity: 1;
    transition: all 0.125s ease-in-out;
    transform: translateX(4px);
  }
}

@media only screen and (min-width: 1280px) {
  .rectangle-1 {
    width: calc(45vw * 1.1);
    height: calc(50vw * 1.1);
    border-radius: calc(7vw * 1.1);
    top: -10vw;
  }

  .light-1 {
    width: 40vw;
    height: 40vw;
    right: 125px;
  }

  .lines-1 {
    top: 8vw;
    right: 0;
  }

  .hero-img {
    width: 37.5vw;
  }

  #hero a {
    width: calc(275px / 1.3);
    height: calc(60px / 1);
    transition: all 0.125s ease-in-out;
  }
}

/* END OF HERO */

/* DESCRIPTION */

/* .event-desc {
  text-align: justify;
  text-justify: inter-word;
} */

.smooth {
  transition: all 0.5s ease-in-out;
}

.giu-thin {
  font-family: Giuconda-Thin;
}

.giu-regular {
  font-family: Giuconda-Regular;
}

.giu-semi-bold {
  font-family: Giuconda-Semi-Bold;
}

/* END OF DESCRIPTION */

/* EXHIBITION PARTNERS */

.exhibitrec-1 {
  width: 50% !important;
  margin-top: -60vw;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.exhibitrec-2 {
  width: 50% !important;
  margin-top: 80vw;
}

.partner-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1.5px solid rgba(255, 255, 255, 0.5);
}

/* .partner-bg img {
  height: 60%;
  width: auto;
} */

@media only screen and (min-width: 480px) {
  .exhibitrec-1 {
    width: 250px !important;
    margin-top: -30vw;
  }

  .exhibitrec-2 {
    width: 250px !important;
    margin-top: 60vw;
  }
}

@media only screen and (min-width: 768px) {
  .partner-bg {
    width: 150px;
    height: 150px;
    border-radius: 12px;
  }

  .exhibitrec-2 {
    margin-top: 30vw;
  }
}

@media only screen and (min-width: 1280px) {
  .exhibitrec-1 {
    width: 400px !important;
  }

  .exhibitrec-2 {
    width: 400px !important;
    margin-top: 100px;
  }

  .partner-bg {
    width: 200px;
    height: 200px;
    border-radius: 16px;
  }
}

/* END OF EXHIBITION PARTNERS */

.green-square {
  background: linear-gradient(180deg, #097b6a 0%, #022d46 100%);
  border-radius: 8vw;
  transform: rotate(142.1deg);
}

/* BENEFITS */

#benefits img {
  width: 57.5vw;
}

.benefit-line {
  z-index: -1;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media only screen and (min-width: 480px) {
  #benefits img {
    width: 50vw;
  }
}

@media only screen and (min-width: 768px) {
  #benefits img {
    width: 42.5vw;
  }
}

@media only screen and (min-width: 1024px) {
  #benefits img {
    width: 32.5vw;
  }
}

/* END OF BENEFITS */

/* SPONSOR */
.container-coloring {
  background: linear-gradient(
    152.97deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 6.56%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.08));
  backdrop-filter: blur(21px);

  border-radius: 16px;
  border: 1px solid white;
}

@media only screen and (max-width: 1020px) {
  .logo-margin {
    margin-bottom: 3vw;
  }
}
/* END OF SPONSOR */

/* ABOUT */

#about {
  position: relative;
  color: white;
  font-family: "Giuconda-Regular";
}

.about-info {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto !important;
}

.join {
  font-family: "ProgressExtended-Bold";
}

.about-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: calc(275px / 1.3) !important;
  height: calc(72px / 1.3);
  transition: all 0.3s ease 0s;
  border-radius: 5px;
}

.about-btn i {
  display: none;
}

.ball {
  z-index: -2;
  position: absolute;
  transition: all 0.3s ease;
}

.ball-1 {
  top: -20vw;
  width: 40vw;
  -webkit-filter: blur(10px) !important;
  filter: blur(10px) !important;
}

.ball-2 {
  top: 20vw;
  right: -5vw;
  width: 60vw;
  -webkit-filter: blur(10px) !important;
  filter: blur(10px) !important;
}

.akar-l {
  top: -10vw;
  left: -40vw;
  width: 200vw;
  position: absolute;
  z-index: -3;
}

.akar-r {
  top: 50vw;
  right: -30vw;
  width: 350vw;
  position: absolute;
  z-index: -3;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.about-rectangle {
  bottom: -40vw;
  left: -25%;
  z-index: -4 !important;
  width: 150%;
  height: calc(50vw);
  border-radius: calc(7vw * 0.9);
  transform: rotate(180deg);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

@media only screen and (min-width: 480px) {
  .ball-1 {
    top: -20vw;
    width: 30vw;
  }

  .ball-2 {
    top: 15vw;
    right: -5vw;
    width: 50vw;
  }

  .akar-l {
    top: -20vw;
    left: -50vw;
    width: 150vw;
  }

  .akar-r {
    top: 30vw;
    right: -40vw;
    width: 300vw;
  }
}

@media only screen and (min-width: 768px) {
  .ball-1 {
    top: -20vw;
    width: 30vw;
  }

  .ball-2 {
    top: 5vw;
    right: -5vw;
    width: 40vw;
    -webkit-filter: none !important;
    filter: none !important;
  }

  .akar-l {
    top: -10vw;
    left: -60vw;
    width: 120vw !important;
  }

  .akar-r {
    top: 5vw;
    right: -60vw;
    width: 120vw;
  }

  .about-rectangle {
    left: 50vw;
    bottom: -25vw !important;
    width: calc(45vw * 1.2);
    height: calc(50vw * 0.9);
    transform: rotate(-38deg);
  }

  .about-info {
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto !important;
  }
}

@media only screen and (min-width: 1024px) {
  .ball-1 {
    top: -20vw;
    width: 20vw;
  }

  .ball-2 {
    top: -5vw;
    right: 10vw;
    width: 35vw;
  }

  .akar-l {
    top: -10vw;
    left: -40vw;
    width: 60vw !important;
  }

  .akar-r {
    top: 0vw;
    right: -60vw;
    width: 80vw !important;
  }

  .about-rectangle {
    left: 55vw;
    bottom: -30vw !important;
    width: calc(45vw * 1);
    height: calc(50vw * 0.9);
    transform: rotate(-38deg);
  }

  .about-btn i {
    display: block;
    opacity: 0;
    transition: all 0.125s ease-in-out;
  }

  .about-btn p {
    transform: translateX(10px);
    transition: all 0.125s ease-in-out;
  }

  .about-btn:hover p {
    transform: translateX(-10px);
    transition: all 0.125s ease-in-out;
  }

  .about-btn:hover i {
    opacity: 1;
    transition: all 0.125s ease-in-out;
    transform: translateX(16px);
  }
}

@media only screen and (min-width: 1280px) {
  .ball-1 {
    top: -20vw;
    width: 20vw;
  }

  .ball-2 {
    top: -5vw;
    right: 0vw;
    width: 35vw;
  }

  .akar-l {
    top: -10vw;
    left: -50vw;
    width: 60vw !important;
  }

  .akar-r {
    top: 5vw;
    right: -40vw;
    width: 60vw !important;
  }

  .about-rectangle {
    left: 55vw;
    bottom: -25vw !important;
    width: calc(45vw * 1);
    height: calc(50vw * 0.9);
    transform: rotate(-38deg);
  }

  .about-btn {
    font-size: 22px;
    width: calc(275px / 0.8) !important;
    height: calc(72px / 1);
  }
}

/* END OF ABOUT */

/* FOOTER */
footer {
  height: 400px;
  color: white;
  padding: 50px 0;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  background: linear-gradient(
    45deg,
    #fe3e86 -20%,
    #022f46 30%,
    #022f46 70%,
    #fe3e86 120%
  );
  font-family: "Giuconda-Regular";
}

footer img {
  width: 200px;
  /* object-fit: contain; */
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-top {
  display: flex;
  justify-content: space-between;
}

.content-bottom {
  font-size: 22px;
}

.footer-nav {
  font-size: 22px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 4.5vw;
  row-gap: 20px;
}

.footer-nav a {
  position: relative;
  text-decoration: none;
  transition: 0.125s all ease-in-out;
}

.footer-nav a:hover {
  color: #ff84b2;
}

.footer-nav a::before {
  background-color: #ff84b2;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact {
  display: flex;
  gap: 50px;
  align-self: flex-end;
}

.contact-platform {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border-bottom: 2px solid #306a73;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.7));
  backdrop-filter: blur(21px);
}

.contact-platform img {
  width: 60%;
}

.support {
  display: flex;
  text-align: center;
  gap: 50px;
  align-self: flex-end;
}

.support img {
  height: 125px;
  width: auto;
}

@media only screen and (max-width: 1279px) {
  /* footer img {
    width: 150px;
  } */

  .contact-platform {
    width: 40px;
    height: 40px;
  }

}

@media only screen and (max-width: 1023px) {
  footer {
    padding: 75px 0;
  }

  .footer-nav {
    font-size: 18px;
  }

  .content-bottom {
    font-size: 18px;
  }
/* 
  .support img {
    height: 9vw;
  } */
}

@media only screen and (max-width: 767px) {
  footer {
    padding: 50px 0;
    height: 325px;
    grid-template-columns: 1.5fr 1fr;
  }

  footer img {
    width: 70%;
  }

  .content-bottom {
    font-size: 16px;
  }

  .contact {
    gap: 25px;
  }

  .contact-platform {
    width: 35px;
    height: 35px;
  }

  .support {
    gap: 25px;
  }
  
  .support img {
    height: 100px;
  }
}

@media only screen and (max-width: 639px) {
  footer {
    height: auto;
  }

  footer img {
    width: 50%;
  }

  .content {
    gap: 25px;
  }

  .content-top {
    flex-direction: column;
    gap: 25px;
  }

  .content-bottom {
    font-size: 14px;
  }

  .footer-nav {
    font-size: 16px;
  }

  .support {
    flex-direction: column;
  }

  .support img {
    height: 100px;
  }
}

@media only screen and (max-width: 479px) {
  footer {
    grid-template-columns: 1fr 1fr;
  }

  footer img {
    width: 60%;
  }

  .contact-platform {
    width: 6.8vw;
    height: 6.8vw;
  }
}

/* END OF FOOTER */